body {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    font-size: 3rem;
}

span {
    width: 50rem;
    font-size: 2rem;
}

span#coins {
    font-weight: bold;
}

input {
    font-family: monospace;
    width: 50rem;
    font-size: 2rem;
    padding: 0.5rem;
}
