* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    min-height: 100vh;
    padding: 1em;
}

h1 {
    text-align: center;
    margin-bottom: 0.5em;
}

div {
    padding: 20px;
    background: white;
    border-radius: 5px;
    width: 200px;
}

button {
    outline: none;
    border: none;
    padding: 8px 0; 
    width: 200px;
    background-color: rgb(74, 149, 224);
    border-radius: 5px;
    font-weight: bold;
}

input {
    width: 176px;
    border: none;
    padding: 8px 12px;
    margin-bottom: 4px;
    border-radius: 5px;
    background-color: #fefefe;
    border: 1px solid #ddd;
}

input:last-of-type {
    margin-bottom: 12px;
}

